* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

/* Hero */

.hero {
    height: 50vh;
    background-color: #222831;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.hero-image {
    height: 12rem;
    position: relative;
    margin-right: 3rem;
    margin-left: 10rem;
}

.hero-content {
    margin-left: 2rem;
}
.my-name {
    font-family: "Bebas Neue", sans-serif;
    font-size: 5rem;
}

.occupation {
    font-family: "Roboto", sans-serif;
    margin-top: 10px;
    font-size: 1.625rem;    
}

.tag-line {
    font-family: "Roboto", sans-serif;
    margin-top: 10px;
    font-size: 1.25rem;
}

/* Resume */

.resume {
    background-color: #393E46;
    color: white;
}

.resume h3 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 2.5rem;
    margin-left: 2rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.resume-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.resume-box {
    width: 30rem;
    height: 10rem;
    background-color: white;
    border-radius: 1rem;
    margin-bottom: 1.25rem;
}


.resume-box-content {
    margin-top: 0.8rem;
    margin-left: 1.5rem;
    color: black;
    font-size: 1.25rem;
}

.resume-box-content h4 {
    font-family: "Roboto", sans-serif;
    font-size: 1.625rem;
}

/* About */

.about {
    background-color: #00ADB5;
}

.about h3, .about-content {
    margin-left: 2rem;
}

.about h3 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 2.5rem;
}

.about-content {
    display: flex;
    justify-content:space-between;
    padding-top: 1rem;
    font-family: "Roboto", sans-serif;
    font-size: 1.25rem;
}

.profile-image {
    height: 9.25rem;
    border-radius: 50%;
    padding-bottom: 1rem;
    position: relative;
    bottom: 2.5rem;
    margin-right: 2rem;
}

/* Contact  */

.contact {
    background-color: #EEEEEE;
}

.contact ul {
    display: flex;
    justify-content:space-between;
    list-style: none;
}

.contact h3 {
    margin-left: 2rem;
    padding-bottom: 1rem;
    font-family: "Bebas Neue", sans-serif;
    font-size: 2.5rem;
}
.contact-content {
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 2rem;
    font-family: "Roboto", sans-serif;
    font-size: 1.25rem;
}
